<section class="m-5 sm:m-10 p-4 sm:p-6 bg-white rounded-lg w-full flex flex-col gap-4">
    <!-- Breadcrumb -->

    <div class="flex items-center justify-between">
        <div class="sm:flex hidden gap-2 items-center">
            <mat-icon class="text-black hover:text-myAccent transition-all w-[22px] h-[22px] cursor-pointer"
                svgIcon="heroicons_outline:home" (click)="dashboardAccess ? navigateToHome() : ''">
            </mat-icon>
            <p>Roles and Permission</p>
            <span>/</span>
            <p class="font-semibold text-myAccent">{{updateFormData != undefined ? "Update User" : "Add User"}}</p>
        </div>

        <img *ngIf="isAccessToManageUser" class="w-[30px] cursor-pointer" matTooltip="Go Back"
            src="assets/icons/back-arrow.svg" alt="Back" (click)="back()">
    </div>

    <!-- Title -->
    <h3 class="font-bold text-[1.5rem] text-center sm:text-left">
        {{updateFormData != undefined ? "Update User" : "Add User"}}</h3>

    <!-- Content -->
    <form [formGroup]="addUserForm" (ngSubmit)="addOrEditUser()"
        class="p-4 sm:p-8 shadow-md rounded-md flex flex-col gap-10 items-center justify-between">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 w-full justify-center">
            <div class="flex flex-col gap-2">
                <label class="font-medium" for="user-name">Name <span class="text-red-600">*</span></label>

                <input onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9\., ]/g) === null"
                    maxlength="50" id="user-name" name="name" type="text" required placeholder="Enter Name"
                    formControlName="name" class="border border-myAccent p-2 rounded" />

                <div *ngIf="
                            f.name.invalid &&
                            (f.name.dirty || f.name.touched)
                        ">
                    <span class="text-[#dc2626]" *ngIf="f.name.errors?.['required']">
                        This field is required
                    </span>
                </div>
            </div>

            <div class="flex flex-col gap-2">
                <label class="font-medium" for="user-email">Email <span class="text-red-600">*</span></label>

                <input maxlength="70"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9\.@ ]/g) === null"
                    autocomplete="off" id="user-email" type="email" (change)="validateEmail($event)"
                    placeholder="Enter Email" formControlName="email" class="border border-myAccent p-2 rounded" />

                <div *ngIf="
                            f.email.invalid &&
                            (f.email.dirty || f.email.touched)
                        ">
                    <span class="text-[#dc2626]" *ngIf="f.email.errors?.['required']">
                        This field is required
                    </span>
                </div>

                <div class="text-[#dc2626]" *ngIf="f.email.errors?.['email']">Email must be a valid email address</div>
            </div>

            <div class="flex flex-col gap-2" *ngIf="updateFormData == undefined">
                <label class="font-medium" for="user-password">Password <span class="text-red-600">*</span></label>
                <div class="flex items-center w-full relative">
                    <input maxlength="80" id="user-password" type="password" required placeholder="Enter Password"
                        formControlName="password" class="border w-full border-myAccent p-2 rounded" #passwordField />

                    <button mat-icon-button type="button" (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        " matSuffix class="absolute right-1 top-0">
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>

                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                </div>

                <div *ngIf="
                            f.password.invalid &&
                            (f.password.dirty || f.password.touched)
                        ">
                    <span class="text-[#dc2626]" *ngIf="f.password.errors?.['required']">
                        This field is required
                    </span>
                    <span class="text-[#dc2626]" *ngIf="f.password.errors?.['minlength']">
                        Password should have at least 6 characters
                    </span>
                    <span class="text-[#dc2626]" *ngIf="f.password.errors?.['pattern']">
                        Password must contain at least one uppercase letter, one lowercase letter, one number, and one
                        special character
                    </span>
                </div>

                <div class="text-[#dc2626]" *ngIf="f.password.errors?.['minlength']">Password must be at least 6
                    characters</div>
            </div>
            <div class="flex flex-col gap-2" *ngIf="updateFormData != undefined">
                <label class="font-medium" for="user-password">Password Edit <span class="text-red-600">*</span></label>
                <div class="flex items-center w-full relative">
                    <input #passwordField id="user-password" type="password" placeholder="Enter Password"
                        formControlName="editPassword" class="border w-full border-myAccent p-2 rounded" />

                    <button mat-icon-button type="button" (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        " matSuffix class="absolute right-1 top-0">
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>

                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                </div>

                <!-- <div *ngIf="
                            
                            (f.password.dirty || f.password.touched)
                        "> -->
                <!-- <span class="text-[#dc2626]" *ngIf="f.password.errors?.['minlength']">
                        Password should have at least 6 characters
                    </span> -->
                <span class="text-[#dc2626]" *ngIf="f.editPassword.errors?.['pattern']">
                    Password must contain at least one uppercase letter, one lowercase letter, one number, and one
                    special character
                </span>
                <!-- </div> -->

                <!-- <div *ngIf="
                            f.editPassword.invalid &&
                            (f.editPassword.dirty || f.editPassword.touched)
                        ">
                    <span class="text-[#dc2626]" *ngIf="f.editPassword.errors?.['required']">
                        This field is required
                    </span>
                </div> -->

                <div class="text-[#dc2626]" *ngIf="f.editPassword.errors?.['minlength']">Password must be at least 6
                    characters</div>
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="user-role" class="font-medium">Role <span class="text-red-600">*</span></label>
                <mat-form-field class="w-full mt-0">
                    <mat-select #clubs matInfix required disableOptionCentering formControlName="roleId"
                        placeholder="Select User Role">
                        <mat-option *ngFor="let role of rolesData" [value]="role.id">{{ role.roleName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="
                            f.roleId.invalid &&
                            (f.roleId.dirty || f.roleId.touched)
                        ">
                    <span class="text-[#dc2626]" *ngIf="f.roleId.errors?.['required']">
                        This field is required
                    </span>
                </div>
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="accounts" class="font-medium">Accounts <span class="text-red-600">*</span></label>
                <mat-form-field>
                    <mat-select formControlName="accountId" multiple placeholder="Select Accounts">
                        <mat-option *ngFor="let account of accounts" [value]="account.id">
                            {{account.accountName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="
                        f.accountId.invalid &&
                        (f.accountId.dirty || f.accountId.touched)
                        ">
                    <span class="text-[#dc2626]" *ngIf="f.accountId.errors?.['required']">
                        This field is required
                    </span>
                </div>
            </div>


        </div>
        <button type="submit"
            class="py-2 px-10 rounded font-semibold text-textColor  self-end transition-all hover:bg-accentHover bg-darkAccent w-fit">
            {{ updateFormData != undefined ? "Update User" : "Add User" }}
        </button>
    </form>
</section>
<p-toast></p-toast>