<h2 mat-dialog-title class="mb-0">Delete Account</h2>
<mat-dialog-content class="mat-typography py-3 overflow-hidden">
    <p class="text-[1rem]">Are you sure you want to delete?</p>

    <mat-dialog-actions align="end" class="flex gap-4 items-center">
        <button
            mat-dialog-close
            class="px-6 text-textColor shadow-[inset_5px_4px_19px_5px_rgba(0,0,0,0.25)] py-2 w-fit whitespace-nowrap rounded bg-backgroundColor justify-between transition-all flex items-center gap-2"
        >
            Cancel
        </button>
        <button
            class="px-6 text-textColor shadow-[inset_5px_4px_19px_5px_rgba(0,0,0,0.25)] py-2 w-fit whitespace-nowrap rounded hover:bg-accentHover bg-darkAccent justify-between transition-all flex items-center gap-2"
            [mat-dialog-close]="true"
            cdkFocusInitial
            (click)="deleteAccount()"
        >
            Delete
        </button>
    </mat-dialog-actions>
</mat-dialog-content>
