<section
    class="m-5 sm:m-10 p-4 sm:py-6 w-full sm:px-8 bg-white rounded-lg flex flex-col gap-4 overflow-x-hidden"
>
    <div class="flex items-center justify-between">
        <div class="flex flex-col gap-2 justify-items-start">
            <!-- Breadcrumb -->
            <div class="sm:flex hidden gap-2 items-center">
                <mat-icon
                    class="text-black hover:text-myAccent transition-all w-[22px] h-[22px] cursor-pointer"
                    svgIcon="heroicons_outline:home"
                    (click)="navigateToHome()"
                >
                </mat-icon>
                <p>Roles and Permissions</p>
                <span>/</span>
                <p class="font-semibold text-myAccent">Add Role</p>
            </div>

            <!-- Title -->
            <h3 class="font-bold text-[1.3rem]">Add Role</h3>
        </div>
    </div>

    <div
        class="flex flex-col sm:flex-row gap-4 items-start sm:items-center justify-between"
    >
        <!-- <label class="font-medium" for="role-name">Role Name</label> -->
        <input
            id="role-name"
            type="text"
            placeholder="Enter Role Name"
            class="border border-myAccent p-2 rounded w-[15rem]"
        />

        <div class="flex items-center gap-4">
            <mat-checkbox>Select All</mat-checkbox>
        </div>
    </div>

    <!-- Table -->
    <form class="flex flex-col gap-6">
        <div
            class="whitespace-nowrap w-full overflow-x-scroll shadow rounded-lg"
        >
            <table class="w-full table-auto">
                <thead
                    class="uppercase text-center text-black font-bold bg-[#d9edff]"
                >
                    <tr class="thead">
                        <th class="text-left p-3">
                            <p>Privileges</p>
                        </th>
                        <th class="text-left p-3">
                            <p>View</p>
                        </th>
                        <th class="text-left p-3">
                            <p>Create</p>
                        </th>
                        <th class="text-left p-3">
                            <p>Edit</p>
                        </th>
                        <th class="text-left p-3">
                            <p>Delete</p>
                        </th>
                    </tr>
                </thead>
                <tbody class="border-t">
                    <tr>
                        <td class="p-3 font-bold text-black">Dashboard</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 font-bold text-black">Income</td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Add Income</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Manage Income</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Income Categories</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 font-bold text-black">Expense</td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Add Expense</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Manage Expense</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Expense Categories</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 font-bold text-black">Accounts</td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">New Account</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Manage Accounts</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Transactions</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Profit and Loss</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 font-bold text-black">Tax</td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Add Tax</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Manage Tax</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Tax Statement</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 font-bold text-black">Reports</td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Income Report</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Expense Report</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Tax Report</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Account Statement</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 font-bold text-black">
                            Roles and Permissions
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox disabled></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">New User</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Manage Users</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                    <tr class="td">
                        <td class="p-3 text-black">Manage Roles</td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                        <td class="p-3">
                            <mat-checkbox></mat-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex items-center gap-4 mt-4 self-end">
            <button
                type="submit"
                class="px-10 text-textColor shadow-[inset_5px_4px_19px_5px_rgba(0,0,0,0.25)] py-2 w-fit whitespace-nowrap rounded bg-backgroundColor justify-between transition-all flex items-center gap-2"
            >
                Cancel
            </button>
            <button
                type="submit"
                class="py-2 px-10 rounded font-semibold text-textColor shadow-[inset_5px_4px_19px_5px_rgba(0,0,0,0.25)] self-end transition-all hover:bg-accentHover bg-darkAccent w-fit"
            >
                Add Role
            </button>
        </div>
    </form>
</section>
