<!-- Angular Material Dialog -->
<h2 mat-dialog-title class="mb-2">Add Income Category</h2>
<form [formGroup]="addCategoryForm" (ngSubmit)="addOrUpdateCategory()">
    <mat-dialog-content class="mat-typography mb-2 flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <label for="category-name" class="text-[1rem] font-medium">Category Name <span
                    class="text-red-600">*</span></label>

            <input type="text" placeholder="Enter Category Name" id="category-name" formControlName="categoryName"
                class="border border-myAccent caret-myAccent px-4 py-2 rounded" />

            <div *ngIf="
                        f.categoryName.invalid &&
                        (f.categoryName.dirty || f.categoryName.touched)
                    ">
                <span class="text-[#dc2626]" *ngIf="f.categoryName.errors?.['required']">
                    This field is required
                </span>
            </div>
        </div>

        <div class="flex flex-col items-start gap-2">
            <label for="category-icon" class="text-[1rem] font-medium">Category Icon</label>

            <div class="w-full h-[12rem] p-[2rem] border-[2px] border-opacity-75 rounded border-myAccent text-center border-dashed relative"
                appDnd (fileDropped)="onFileDropped($event)">
                <input required type="file" class="opacity-0 absolute z-10 w-full top-0 left-0 h-full" #fileDropRef
                    id="fileDropRef" (change)="saveImage($event)" />
                <div class="flex items-center justify-center flex-col gap-4 mt-4">
                    <img src="assets\icons\upload.svg" alt="" class="w-[50px] fill-myAccent" />

                    <label for="fileDropRef" class="font-semibold text-xl">Choose an icon or drag it here</label>

                    <div *ngIf="imageUrl" class="w-full bg-backgroundColor absolute top-0 bottom-0 p-4">
                        <img [src]="imageUrl" alt="" class="object-contain w-full h-full" />
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="flex flex-col gap-2 w-fit">
            <label class="font-medium" for="icon">Add Icon</label>
            <input
                id="icon"
                type="file"
                accept="image/*"
                (change)="saveImage($event)"
                class="file:border-myAccent file:bg-transparent file:cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded file:border-[1px] hover:file:bg-myAccent hover:file:text-white file:text-myAccent file:transition-all"
            />
        </div>
        <div *ngIf="imageUrl">
            <img [src]="imageUrl" alt="" />
        </div> -->
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="flex gap-4 items-center">
        <button
            class="px-6 text-textColor shadow-[inset_5px_4px_19px_5px_rgba(0,0,0,0.25)] py-2 w-fit whitespace-nowrap rounded bg-backgroundColor justify-between transition-all flex items-center gap-2"
            mat-dialog-close>
            Cancel
        </button>
        <button
            class="px-6 text-textColor shadow-[inset_5px_4px_19px_5px_rgba(0,0,0,0.25)] py-2 w-fit whitespace-nowrap rounded hover:bg-accentHover bg-darkAccent justify-between transition-all flex items-center gap-2"
            cdkFocusInitial type="submit">
            {{ updateFormData != undefined ? "Update" : "Add" }}
        </button>
    </mat-dialog-actions>
</form>

<p-toast></p-toast>